body{
    background-color: #d9d9c9;
}
.corps1{
    width: 1000px;
    font-family: sans-serif ;
    margin: auto;
}
header{
    background: linear-gradient(to top,#58111A,#F40009);
    color: white;
    padding: 15px 15px;
    
}
#logo{
    width: 64px;
    height: auto;
    margin-left: 45px;
    display: inline-block;
}
.bloc1{
    display: inline-block;
    margin: 15px;
}
.bl1{
    margin: 0px;
}
nav{
    padding: 0px 45px;
    background-image: linear-gradient(to bottom,#58111A,#E23D28);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
nav ul li{
    display: inline-block;
}
nav a{
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    transition: all 1s;
}
nav a:hover{
    background-color: #33333366;
    color: #ffdede;
    cursor: pointer;
}
#sec1{
    width: 100%;
    height: 570px;
    margin: 10px 0;
}
iframe{
    width: 100%;
    height: 100%;
}
footer{
    background-color: rgb(52, 51, 51);
    color: white;
    text-align: center;
    padding: 10px 10px;
    border-radius: 20px 20px 0px 0px;
}
/*kkkk*/
.art1{
    display: inline-block;
    width: 30%;
    padding: 5px;
    background-color: rgb(221, 221,211);
    margin-left: 5px;
}
#t1{
    text-align: center;
    margin-bottom: 15px;
}
article p{
    text-align: right;
}
.sansremise{
    text-decoration: line-through;
    font-weight: bold;
    font-size: 12px;
    color: #500;
}
.avecremise{
    font-size: 18px;
    color: #32561b;
    font-weight: bold;
}
figure{
    margin: 10px 0;
    text-align: center;
}
figure img{
    filter: blur(3px) invert(90%);
    transition: all 1s;
}
figure img:hover{
    filter: none;
}
figcaption{
    font-size: 14px;
    font-style: italic;
}
article ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}
article ul span{
    font-weight: bold;
    color: red;
}
article a{
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
#T3{
    text-align: center;
    font-weight: bold;
}
/*Code CSS de la page commande*/
form{
width:600px ;
margin: auto;
background-color: #d9d9c9;
padding: 5px;
border-radius: 10px;
box-shadow: 5px 5px 2px black;
font-family: sans-serif;
}
form h3{
text-align: center;
margin-top: 5px;
}
fieldset{
border: solid 2px white;
border-radius: 10px;
margin-bottom: 20px;
background-color: #d9d9c3;
}
legend{
font-style: italic;
font-weight: bold;
}
label{
font-weight: bold;
display: block;
margin: 10px 0;
}
#para
{
font-style: italic;
margin-top: 0px;
}
.zone{
width: 100%;
height: 20px;
border: solid 2px black;
border-radius: 5px;
}
.zone1
{height: 20px;
border: solid 2px black;
border-radius: 5px;
}
.cond{margin-top: 15px;}
.but{text-align: center;}
.b1
{
background-color: #333;
border-radius: 20px;
color: white;
width:130px;
height: 30px;
font-size: 20px;
font-weight: bold;
}