/*code css de la page index*/
body{
    background-color:white;
}
#B1{
    width: 1000px;
    margin: auto;
}
header{
    height: 220px;
    margin-bottom: 0px;
}
.Z1{
    height: 45px;
    width: 930px;
    border-radius: 5px;
    border: solid 2px;
    font-size: large;
    background-color: #dcdcdc;
    position: relative;
    top: -20px;
}
.ic{
    height: 51px;
    width: 51px;
}
nav{
    width: 100%;
    height: 50px;
    text-align: center;
}
.liste1{
    list-style-type: none;
    padding-left: 0px;
    margin-top: 0px;
}
.liste1 li {
    display: inline-block;
    margin-top: 5px;
}
.liste1 li  a{
    display: inline-block;
    width: 135px;
    height: 40px;
    color: white;
    font-size: large;
    background-color: #94c989;
    text-decoration: none;
    font-weight: bold;
    margin-right: 2px;
    line-height: 40px;
}
section{
    width: 100%;
    height: 700px;
}
iframe{
    width: 100%;
    height: 100%;
}
footer{
    text-align: center;
}
address{
    background-color: #94c989;
    font-size: large;
    color: white;
    margin: 5px;
}
/*code css de la page menu */
#art1{
    width: 600px;
    float: left;
}
#asd1{
    width: 330px;
    float: right;
    padding-top: 10px;
    padding-left: 10px;
    text-align: center;
    border-left:solid 2px black;
}
.t3{
    font-size: 25px;
    color: white;
    text-align: center;
    margin:  auto;
    margin-bottom : 20px;
    width: 500px;
    background-color: #ffa63a;
}
.liste2{
    font-size: 25px;
}
.cous{
    margin-top: 10px;
    display: block;
    margin: auto;
    transition-property: all;
    transition-duration: 1s;
    
}
.cous:hover{
    opacity: 0.5;
    transform: scale(1.1);
}
p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
}
.img1{
    width: 210px;
    height: auto;
    filter: invert(100%);
}
.lien:hover{
    color: black;
    background-color: white;
}
.img1:hover{
    filter: invert(0%);
}
/*code css de la page compte*/
#B3{
    width: 1000px;
    margin: auto;
}
.titre1{
    color: white;
    background-color: rgb(148,201,137);
    border-radius: 5px;
    padding: 5px;
}
#G{
    background-color: rgb(207, 203,203,0.5);
    width: 40%;
    height: 280px;
    border-radius: 5px;
    box-shadow: 5px 5px 2px gray;
    padding: 5px;
    float: left;
}
.titre3{
    margin-top: 10px;
}
.lg{
    font-weight: bold ;
    text-align: right;
    display: inline-block;
    width: 140px;
    margin-bottom: 15px;
}
.zone{
    border-radius: 5px;
    border: solid 2px ;
    height: 20px;
}
#BT{
    display: block;
    margin: auto;
    width: 130px;
    height: 30px;
    margin-top: 15px;
    color: white;
    background-color: rgb(255, 166, 58);
    border-radius: 10px;
    font-size: large;
    padding: 5px;
    font-weight: bold;
    border: none;
}
#D{
    background-color: rgb(207, 203,203,0.5);
    width: 56%;
    height: 280px;
    border-radius: 5px;
    box-shadow: 5px 5px 2px gray;
    padding: 5px;
    float: left;
    margin-left: 10px;
}
input[type="checkbox"]{
    margin-bottom: 15px;
}
#EM{
    width: 340px;
}